<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.pay.aioveu06PayFlow.mapper.PayFlowMapper">

    <!-- 获取支付流水分页列表 -->
    <select id="getPayFlowPage" resultType="com.aioveu.pay.aioveu06PayFlow.model.vo.PayFlowVO">
        SELECT
                id,
                flow_no,
                payment_no,
                refund_no,
                order_no,
                user_id,
                flow_type,
                flow_direction,
                amount,
                balance_before,
                balance_after,
                channel_code,
                third_flow_no,
                flow_status,
                trade_time,
                complete_time,
                error_code,
                error_message,
                remark,
                is_deleted,
                create_by,
                update_by,
                create_time,
                update_time
        FROM
            pay_flow
        <where>
            <if test="queryParams.flowNo != null and queryParams.flowNo != ''">
                AND flow_no LIKE CONCAT(#{queryParams.flowNo}, '%')
            </if>
            <if test="queryParams.paymentNo != null and queryParams.paymentNo != ''">
                AND payment_no LIKE CONCAT(#{queryParams.paymentNo}, '%')
            </if>
            <if test="queryParams.refundNo != null and queryParams.refundNo != ''">
                AND refund_no LIKE CONCAT(#{queryParams.refundNo}, '%')
            </if>
            <if test="queryParams.orderNo != null and queryParams.orderNo != ''">
                AND order_no LIKE CONCAT(#{queryParams.orderNo}, '%')
            </if>
            <if test="queryParams.userId != null">
                AND user_id LIKE CONCAT(#{queryParams.userId}, '%')
            </if>
            <if test="queryParams.flowType != null and queryParams.flowType != ''">
                AND flow_type LIKE CONCAT(#{queryParams.flowType}, '%')
            </if>
            <if test="queryParams.flowDirection != null and queryParams.flowDirection != ''">
                AND flow_direction LIKE CONCAT(#{queryParams.flowDirection}, '%')
            </if>
            <if test="queryParams.flowStatus != null">
                AND flow_status LIKE CONCAT(#{queryParams.flowStatus}, '%')
            </if>
            <if test="queryParams.tradeTime != null">
                <if test="queryParams.tradeTime[0] != null and queryParams.tradeTime[0] != ''">
                    <bind name="startDate" value="queryParams.tradeTime[0].length() == 10 ? queryParams.tradeTime[0] + ' 00:00:00' : queryParams.tradeTime[0]"/>
                    AND trade_time &gt;= #{startDate}
                </if>
                <if test="queryParams.tradeTime[1] != null and queryParams.tradeTime[1] != ''">
                    <bind name="endDate" value="queryParams.tradeTime[1].length() == 10 ? queryParams.tradeTime[1] + ' 23:59:59' : queryParams.tradeTime[1]"/>
                    AND trade_time &lt;= #{endDate}
                </if>
            </if>
            <if test="queryParams.createTime != null">
                <if test="queryParams.createTime[0] != null and queryParams.createTime[0] != ''">
                    <bind name="startDate" value="queryParams.createTime[0].length() == 10 ? queryParams.createTime[0] + ' 00:00:00' : queryParams.createTime[0]"/>
                    AND create_time &gt;= #{startDate}
                </if>
                <if test="queryParams.createTime[1] != null and queryParams.createTime[1] != ''">
                    <bind name="endDate" value="queryParams.createTime[1].length() == 10 ? queryParams.createTime[1] + ' 23:59:59' : queryParams.createTime[1]"/>
                    AND create_time &lt;= #{endDate}
                </if>
            </if>
        </where>
    </select>

</mapper>
