<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.tenant.aioveu15TenantWxApp.mapper.TenantWxAppMapper">

    <!-- 获取租户与微信小程序关联分页列表 -->
    <select id="getTenantWxAppPage" resultType="com.aioveu.tenant.aioveu15TenantWxApp.model.vo.TenantWxAppVo">
        SELECT
                id,
                tenant_id,
                wx_appid,
                is_default,
                is_deleted,
                create_time,
                update_time
        FROM
            sys_tenant_wx_app
        <where>
            <if test="queryParams.tenantId != null">
                AND tenant_id LIKE CONCAT(#{queryParams.tenantId}, '%')
            </if>
            <if test="queryParams.wxAppid != null and queryParams.wxAppid != ''">
                AND wx_appid LIKE CONCAT(#{queryParams.wxAppid}, '%')
            </if>
            <if test="queryParams.wxAppname != null and queryParams.wxAppname != ''">
                AND wx_appname LIKE CONCAT(#{queryParams.wxAppname}, '%')
            </if>
            <if test="queryParams.registeredEmail != null and queryParams.registeredEmail != ''">
                AND registered_email LIKE CONCAT(#{queryParams.registeredEmail}, '%')
            </if>
            <if test="queryParams.isDefault != null">
                AND is_default LIKE CONCAT(#{queryParams.isDefault}, '%')
            </if>
            <if test="queryParams.isDeleted != null">
                AND is_deleted LIKE CONCAT(#{queryParams.isDeleted}, '%')
            </if>
        </where>
    </select>

</mapper>
