<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.registry.aioveu04RegistryAdministratorInfo.mapper.RegistryAdministratorInfoMapper">

    <!-- 获取管理员信息分页列表 -->
    <select id="getRegistryAdministratorInfoPage" resultType="com.aioveu.registry.aioveu04RegistryAdministratorInfo.model.vo.RegistryAdministratorInfoVo">
        SELECT
                id,
                tenant_id,
                real_name,
                id_card_no,
                id_card_front_path,
                id_card_back_path,
                phone,
                phone_verify_code,
                phone_verified,
                wechat_openid,
                wechat_unionid,
                wechat_qr_scanned,
                wechat_scanned_time,
                is_deleted,
                create_time,
                update_time
        FROM
            registry_administrator_info
        <where>
            <if test="queryParams.tenantId != null">
                AND tenant_id LIKE CONCAT(#{queryParams.tenantId}, '%')
            </if>
            <if test="queryParams.realName != null and queryParams.realName != ''">
                AND real_name LIKE CONCAT(#{queryParams.realName}, '%')
            </if>
            <if test="queryParams.idCardNo != null and queryParams.idCardNo != ''">
                AND id_card_no LIKE CONCAT(#{queryParams.idCardNo}, '%')
            </if>
            <if test="queryParams.phone != null and queryParams.phone != ''">
                AND phone LIKE CONCAT(#{queryParams.phone}, '%')
            </if>
        </where>
    </select>

</mapper>
