<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aioveu.pay.aioveu05PayConfigAlipay.mapper.PayConfigAlipayMapper">

    <!-- 获取支付宝支付配置分页列表 -->
    <select id="getPayConfigAlipayPage" resultType="com.aioveu.pay.aioveu05PayConfigAlipay.model.vo.PayConfigAlipayVo">
        SELECT
                id,
                config_id,
                tenant_id,
                app_id,
                merchant_private_key,
                alipay_public_key,
                alipay_root_cert,
                app_cert_public_key,
                notify_url,
                return_url,
                encrypt_key,
                sign_type,
                charset,
                format,
                gateway_url,
                sandbox_gateway_url,
                sandbox,
                encrypt_type,
                connect_timeout,
                read_timeout,
                proxy_host,
                proxy_port,
                is_deleted,
                create_time,
                update_time,
                create_by,
                update_by
        FROM
            pay_config_alipay
        <where>
            <if test="queryParams.configId != null">
                AND config_id LIKE CONCAT(#{queryParams.configId}, '%')
            </if>
            <if test="queryParams.tenantId != null">
                AND tenant_id LIKE CONCAT(#{queryParams.tenantId}, '%')
            </if>
            <if test="queryParams.appId != null and queryParams.appId != ''">
                AND app_id LIKE CONCAT(#{queryParams.appId}, '%')
            </if>
            <if test="queryParams.alipayPublicKey != null and queryParams.alipayPublicKey != ''">
                AND alipay_public_key LIKE CONCAT(#{queryParams.alipayPublicKey}, '%')
            </if>
            <if test="queryParams.createBy != null">
                AND create_by LIKE CONCAT(#{queryParams.createBy}, '%')
            </if>
        </where>
    </select>

</mapper>
