<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aioveu.dao.InvoiceRequestDao">

    <select id="getByCompanyId" resultType="com.aioveu.entity.InvoiceRequest">
        SELECT a.*, u.username as user_phone, iu.name as issuer_user_name
        FROM sport_invoice_request a
        JOIN sport_user u ON a.user_id = u.id
        LEFT JOIN sport_user iu ON a.issuer_user_id = iu.id
        WHERE a.company_id = #{companyId}
        <if test="phone != null and phone != ''">
            AND u.username like CONCAT('%',#{phone},'%' )
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        <if test="start != null">
            AND a.create_date >= #{start}
        </if>
        <if test="end != null">
            AND #{end} >= a.create_date
        </if>
        order by a.create_date desc
    </select>

    <select id="getByOrderId" resultType="com.aioveu.entity.InvoiceRequest">
        SELECT a.*
        FROM sport_invoice_request a
        JOIN sport_invoice_request_detail b ON a.id = b.invoice_request_id
        WHERE b.order_id = #{orderId} AND a.status IN (1,2)
        GROUP BY a.id
    </select>

</mapper>